.SecondPageBody{
	background: white;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  from {background-color: white;}
  to {background-color: #a4f2ef;}
}

.AllPage2{
    text-align: center;
}
